<header class="header">
  <div class="container container--topBar">
    <div class="topbar">
      <a class="header__logo" href="/">
        <img
          width="160"
          height="69"
          alt="Донвард логотип"
          src="/img/logo.svg"
        />
      </a>
      <address class="header__address">
        <a class="header__address-link" href="#">
          426039, Россия, г. Ижевск, ул. Воткинское шоссе, д. 192
        </a>
      </address>
      <div class="header__flex schedule-mail">
        <span class="header__flex-schedule">ПН-ПТ: 08:30-17:30</span>
        <a class="header__flex-mail" href="mailto:info@donvard.ru">
          info@donvard.ru
        </a>
      </div>
      <div class="header__flex numbers">
        <a class="header__flex-phone" href="tel:73412904142">
          8 (3412) 90-41-42
          <span class="header__flex-phone-description"> (Отдел продаж) </span>
        </a>
        <a class="header__flex-phone" href="tel:73412320388">
          8 (3412) 32-03-88
          <span class="header__flex-phone-description">
            (Отдел снабжения)
          </span>
        </a>
      </div>
      <div class="topbar__socials">
        <a class="topbar__socials-link" href="#">
          <img
            class="topbar__socials-image"
            width="25"
            height="25"
            alt="Вконтакте Донвард"
            src="/img/header-vk.svg"
          />
        </a>
        <a class="topbar__socials-link" href="#">
          <img
            class="topbar__socials-image"
            width="25"
            height="25"
            alt="Макс Донвард"
            src="/img/header-max.svg"
          />
        </a>
        <a class="topbar__socials-link" href="#">
          <img
            class="topbar__socials-image"
            width="25"
            height="25"
            alt="Рутуб Донвард"
            src="/img/header-rutube.svg"
          />
        </a>
      </div>
      <button class="topbar__lead">Связаться с нами</button>
      <button
        class="burger"
        type="button"
        aria-label="Открыть меню"
        aria-expanded="false"
      >
        <img
          class="burger__image"
          width="30"
          height="21"
          alt="Кнопка бургер"
          src="/img/burger.svg"
        />
      </button>
    </div>
  </div>
  <div class="header__nav-wrapper">
    <div class="container container--header">
      <div class="header__flex header__mobile">
        <a class="header__flex-phone" href="tel:73412904142">
          8 (3412) 90-41-42
          <span class="header__flex-phone-description"> (Отдел продаж) </span>
        </a>
        <a class="header__flex-phone" href="tel:73412320388">
          8 (3412) 32-03-88
          <span class="header__flex-phone-description">
            (Отдел снабжения)
          </span>
        </a>
      </div>
      <div class="header__flex header__mobile header__tablet">
        <span class="header__flex-schedule">ПН-ПТ: 08:30-17:30</span>
        <a class="header__flex-mail" href="mailto:info@donvard.ru">
          info@donvard.ru
        </a>
      </div>
      <nav class="header__nav">
        <a class="header__nav-item" href="#">Главная</a>
        <div class="header__nav-item-wrapper">
          <a class="header__nav-item header__nav-item--parent" href="#">
            О нас
            <img
              class="header__nav-item-arrow"
              width="13"
              height="7"
              alt=""
              src="/img/arrow-submenu.svg"
            />
          </a>
          <ul class="header__submenu">
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="#">Ремонт гидроцилиндров</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="#"
                >Проектирование гидроцилиндров</a
              >
            </li>
          </ul>
        </div>
        <div class="header__nav-item-wrapper">
          <a class="header__nav-item header__nav-item--parent" href="#">
            Каталог
            <img
              class="header__nav-item-arrow"
              width="13"
              height="7"
              alt=""
              src="/img/arrow-submenu.svg"
            />
          </a>
          <ul class="header__submenu">
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="#">Ремонт гидроцилиндров</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="#"
                >Проектирование гидроцилиндров</a
              >
            </li>
          </ul>
        </div>
        <a class="header__nav-item" href="#">Интернет-магазин</a>
        <div class="header__nav-item-wrapper">
          <a class="header__nav-item header__nav-item--parent" href="#">
            Услуги
            <img
              class="header__nav-item-arrow"
              width="13"
              height="7"
              alt=""
              src="/img/arrow-submenu.svg"
            />
          </a>
          <ul class="header__submenu">
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="#">Ремонт гидроцилиндров</a>
            </li>
            <li class="header__submenu-item">
              <a class="header__submenu-link" href="#"
                >Проектирование гидроцилиндров</a
              >
            </li>
          </ul>
        </div>
        <a class="header__nav-item" href="#">Проекты компании</a>
        <a class="header__nav-item" href="#">Новости</a>
        <a class="header__nav-item" href="#">Магазин</a>
        <a class="header__nav-item" href="#">Контакты</a>
      </nav>
      <div class="header__actions">
        <a class="header__action header__action--search" href="#">
          <img
            class="header__action-image"
            width="21"
            height="21"
            alt="Поиск"
            src="/img/header-loop.svg"
          />
        </a>
        <a class="header__action" href="/lk.html">
          <img
            class="header__action-image"
            width="20"
            height="20"
            alt="Личный кабинет"
            src="/img/header-lk.svg"
          />
        </a>
        <a class="header__action header__action--cart" href="/cart.html">
          <img
            class="header__action-image"
            width="22"
            height="20"
            alt="Корзина"
            src="/img/header-cart.svg"
          />
          <span class="header__action-count header__action-count--active">
            3
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="mobile-menu" aria-hidden="true">
    <nav class="mobile-menu__nav" aria-label="Мобильная навигация">
      <a class="mobile-menu__link" href="#">Главная</a>
      <div class="mobile-menu__group">
        <button class="mobile-menu__toggle" type="button" aria-expanded="false">
          О нас
          <img width="13" height="7" alt="" src="/img/arrow-submenu.svg" />
        </button>
        <ul class="mobile-menu__submenu">
          <li class="mobile-menu__submenu-item">
            <a class="mobile-menu__submenu-link" href="#">Ремонт гидроцилиндров</a>
          </li>
          <li class="mobile-menu__submenu-item">
            <a class="mobile-menu__submenu-link" href="#">Проектирование гидроцилиндров</a>
          </li>
        </ul>
      </div>
      <div class="mobile-menu__group">
        <button class="mobile-menu__toggle" type="button" aria-expanded="false">
          Каталог
          <img width="13" height="7" alt="" src="/img/arrow-submenu.svg" />
        </button>
        <ul class="mobile-menu__submenu">
          <li class="mobile-menu__submenu-item">
            <a class="mobile-menu__submenu-link" href="#">Ремонт гидроцилиндров</a>
          </li>
          <li class="mobile-menu__submenu-item">
            <a class="mobile-menu__submenu-link" href="#">Проектирование гидроцилиндров</a>
          </li>
        </ul>
      </div>
      <a class="mobile-menu__link" href="#">Интернет-магазин</a>
      <div class="mobile-menu__group">
        <button class="mobile-menu__toggle" type="button" aria-expanded="false">
          Услуги
          <img width="13" height="7" alt="" src="/img/arrow-submenu.svg" />
        </button>
        <ul class="mobile-menu__submenu">
          <li class="mobile-menu__submenu-item">
            <a class="mobile-menu__submenu-link" href="#">Ремонт гидроцилиндров</a>
          </li>
          <li class="mobile-menu__submenu-item">
            <a class="mobile-menu__submenu-link" href="#">Проектирование гидроцилиндров</a>
          </li>
        </ul>
      </div>
      <a class="mobile-menu__link" href="#">Проекты компании</a>
      <a class="mobile-menu__link" href="#">Новости</a>
      <a class="mobile-menu__link" href="#">Магазин</a>
      <a class="mobile-menu__link" href="#">Контакты</a>
    </nav>
    <div class="mobile-menu__contacts">
      <address class="mobile-menu__address">
        <a href="#">426039, Россия, г. Ижевск, ул. Воткинское шоссе, д. 192</a>
      </address>
      <span class="mobile-menu__schedule">ПН-ПТ: 08:30-17:30</span>
      <a class="mobile-menu__mail" href="mailto:info@donvard.ru">info@donvard.ru</a>
    </div>
  </div>
</header>
