<footer class="footer">
  <div class="container container--footer">
    <div class="footer__nav-wrapper">
      <a class="header__logo" href="/">
        <img
          width="160"
          height="69"
          alt="Донвард логотип"
          src="/img/logo.svg"
        />
      </a>
      <nav class="footer__nav" aria-label="Компания">
        <h3 class="footer__title">Компания</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">О компании «Донвард»</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Миссия</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Преимущества</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Сертификаты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Проекты компании</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Видеогалерея</a>
          </li>
        </ul>
      </nav>
      <nav class="footer__nav" aria-label="Каталог">
        <h3 class="footer__title">Каталог</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Гидроцилиндры</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Ремкомплекты</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Гидростанции</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Гидрораспределители</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Гидронасосы</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Запчасти и комплектующие</a>
          </li>
        </ul>
      </nav>
      <nav class="footer__nav" aria-label="Услуги">
        <h3 class="footer__title">Услуги</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="#">Ремонт гидроцилиндров</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Проектирование гидроцилиндров</a>
          </li>
        </ul>
      </nav>
      <nav class="footer__nav footer__nav-contacts" aria-label="Контакты">
        <h3 class="footer__title">Контакты</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <div class="header__flex numbers">
              <a class="header__flex-phone" href="tel:73412904142">
                8 (3412) 90-41-42
                <span class="header__flex-phone-description">
                  (Отдел продаж)
                </span>
              </a>
              <a class="header__flex-phone" href="tel:73412320388">
                8 (3412) 32-03-88
                <span class="header__flex-phone-description">
                  (Отдел снабжения)
                </span>
              </a>
            </div>
          </li>
          <li class="footer__item">
            <address class="header__address">
              <a class="header__address-link" href="#">
                426039, Россия, г. Ижевск, ул. Воткинское шоссе, д. 192
              </a>
            </address>
          </li>
          <li class="footer__item">
            <span class="header__flex-schedule">ПН-ПТ: 08:30-17:30</span>
          </li>
          <li class="footer__item">
            <a class="header__flex-mail" href="mailto:info@donvard.ru">
              info@donvard.ru
            </a>
          </li>
          <li class="footer__item">
            <div class="topbar__socials">
              <a class="topbar__socials-link" href="#">
                <img
                  class="topbar__socials-image"
                  width="25"
                  height="25"
                  alt="Вконтакте Донвард"
                  src="/img/header-vk.svg"
                />
              </a>
              <a class="topbar__socials-link" href="#">
                <img
                  class="topbar__socials-image"
                  width="25"
                  height="25"
                  alt="Макс Донвард"
                  src="/img/header-max.svg"
                />
              </a>
              <a class="topbar__socials-link" href="#">
                <img
                  class="topbar__socials-image"
                  width="25"
                  height="25"
                  alt="Рутуб Донвард"
                  src="/img/header-rutube.svg"
                />
              </a>
            </div>
          </li>
          <li class="footer__item">
            <button class="topbar__lead">Связаться с нами</button>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <a class="footer__bottom-link" href="#">Карта сайта</a>
      <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
      <span class="footer__bottom-copyright">
        © 2010-2025, ООО «Донвард — гидравлические системы»
      </span>
    </div>
  </div>
</footer>
